@{
    ViewData["Title"] = "Home Page";
}


<body>

    <main class="wh-100 d-flex p-2 flex-row">
        <div class="col-4">  <div class="col-4">  <div class="card mb-3" style="max-width: 540px;">
         <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.finedininglovers.it/sites/g/files/xknfdk1106/files/styles/recipes_1200_800/public/fdl_content_import_it/margherita-50kalo.jpg.webp?itok=QlO8_AHv" alt="pizza" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Pizza margherita</h5>
                <p class="card-text"></p>
                <p class="card-title"><strong>6 €</strong></p>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio</small></p>
            </div>
        </div>
    </div></div>
        </div>

         <div class="col-4">  <div class="card mb-3" style="max-width: 540px;">
         <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.finedininglovers.it/sites/g/files/xknfdk1106/files/styles/recipes_1200_800/public/fdl_content_import_it/margherita-50kalo.jpg.webp?itok=QlO8_AHv" alt="pizza" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Pizza margherita</h5>
                <p class="card-text"></p>
                <p class="card-title"><strong>6 €</strong></p>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio</small></p>
            </div>
        </div>
    </div></div>
        </div>

         <div class="col-4">  <div class="card mb-3" style="max-width: 540px;">
         <div class="row g-0">
        <div class="col-md-4">
            <img src="https://www.finedininglovers.it/sites/g/files/xknfdk1106/files/styles/recipes_1200_800/public/fdl_content_import_it/margherita-50kalo.jpg.webp?itok=QlO8_AHv" alt="pizza" class="img-fluid rounded-start" alt="...">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">Pizza margherita</h5>
                <p class="card-text"></p>
                <p class="card-title"><strong>6 €</strong></p>
                <p class="card-text"></p>
                <p class="card-text"><small class="text-muted">tipica pizza napoletana, condita con pomodoro, mozzarella, basilico fresco, sale e olio</small></p>
            </div>
        </div>
    </div></div>
        </div>

    
      
</main>

</body>




